
            
			<div id="recaptcha-badge"></div>
			<input type="hidden" name="recaptcha_response">
			
			<script async src="https://www.google.com/recaptcha/api.js?render=explicit&onload=getRecaptcha" type="text/javascript"></script>			
            <script type="text/javascript">
				
			function getRecaptcha()
			{
				var grecaptchaID = grecaptcha.render("recaptcha-badge", {
					"sitekey": "{{ site_key }}",
					"badge": "bottomright",
					"size": "invisible"
				});
							
				grecaptcha.ready(function() {
					grecaptcha.execute(grecaptchaID, {
						action: "{{ recaptcha_action }}"
					}).then(function(token) {
						document.querySelector("input[name='recaptcha_response']").value = token;
					});
				}); 
			}
                
			</script>
			
			