<form name="confirm_mypos_virtual" action="{{  action }}" method="post">
    <input type="hidden" name="mypos_virtual_process" value="1">
</form>

<div class="buttons">
    <div class="pull-right">
        <input type="button" value="{{ button_confirm }}" id="button-confirm" class="btn btn-primary" onclick="document.confirm_mypos_virtual.submit();" />
    </div>
</div>