<form method="post" action="{{ action }}">
    <input type="hidden" name="order_id" value="{{ order_id }}">
    <input type="hidden" name="return_url" value="{{ return_url }}">
    <button class="btn btn-primary button-command" name="mypos-check-payment-status" value="1">{{ check_for_payment }}</button>
</form>