<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ITAL-CRO</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->

    <!-- Custom stylesheet - for your changes-->

    <!-- Favicon-->


  </head>
  <body>
  <div class="container-fluid">
    <div class="row min-vh-100">
      
      <div class="col-xl-12 p-5 p-lg-4 d-flex align-items-center red" style="background-color: #fff">
      


<img src="image/italcro-logo-front.svg" title="italcro" alt="italcro"  style="max-width:300px;margin:0 auto">
      </div>
    </div>
  </div>
    <!-- JavaScript files-->

    <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
  </body>
</html>