<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Lux Kozmetika – Profesionalna oprema za salone i wellness</title>
    <meta name="description" content="Vrhunska oprema za kozmetičke salone: masažni stolovi, stolci, kolica, IPL uređaji i prirodna kozmetika. Brza dostava u cijeloj EU.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="siteoff/vendor/bootstrap/css/bootstrap.min.css">
    <!-- Google fonts - Roboto for copy, Montserrat for headings-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik:300,400,700">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="siteoff/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->

    <!-- Favicon-->

    <!-- Tweaks for older IEs--><!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body>
  <div class="container-fluid">
    <div class="row min-vh-100">
      
      <div class="col-xl-12 p-5 p-lg-4 d-flex align-items-center red" style="background-color: #fff">
      


<img src="image/lux2-kozmetika.svg" title="Lux Kozmetika – Profesionalna oprema za salone i wellness" alt="Lux Kozmetika – Profesionalna oprema za salone i wellness"  style="max-width:300px;margin:0 auto">
      </div>
    </div>
  </div>
    <!-- JavaScript files-->
    <script src="siteoff/vendor/jquery/jquery.min.js"></script>
    <script src="siteoff/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="siteoff/js/front.js"></script>
    <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </body>
</html>